
<html>
        <% include ../mini/header %>
      

        
        
        <div class="container" >
            <% include ../mini/book-bar %>
            <h2 class="nomargin"> <%=titulo %> </h2>

            <form style="float:left" method="post" action="/api/livros">
                <p> Quantidades </p><input name="quantidade" type="input"/>  <br>  
                <p> Nome do Livro </p><input name="nome" type="input"/>  <br>
                <p> Link da imagem do livro </p><input name="url_imagem" type="input"> <br>
                <p> Categoria do Livro</p><input name="genero" type="input"> <br>
                <input type="submit" value="Adicionar Livro">
            </form>
            
        
        </div>

        
        <% include ../mini/footer %>
        </html>


