
<ul class="book-bar">
    <h2> Opções </h2>
        <li>
            <a href="/mostrarLivros/"> Mostrar Livros</a>
        </li>
        <li>
            <a href="/cadastrarLivro/"> Adicionar Livro </a>
        </li>

</ul>

