

<head>

    <title> <%= titulo %> </title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
</head>

<body>
    <div class="container">
        
        <div class="header">
            
            
                <ul class="main-bar">
                        <li>
                                <a href="/"> Home</a>
                        </li>
                        <li>
                            <a href="/mostrarLivros/"> Livro </a>
                        </li>
                        
                        <li>
                            <a href="/usuarios/"> Administradores </a>
                        </li>
                        <li>
                            <a href="/login/"> Login </a>
                        </li>
                </ul>
                
            <h1> MINI APLICAÇÃO BIBLIOTECA</h1>


        </div>
               
    </div>
    