<html>
<% include ../mini/header %>



<div class="container" >

    <h1 style="margin-top:50px"> <%=titulo %> </h1>
    <div class="apresentação" style=""> 
        API de estudo criada por Lucas Martines.
        Esta api tem o objetivo de fazer o controle simples do estoque de livros
    </div>

</div>



<% include ../mini/footer %>
</html>